body {
  margin: 0;
  overflow: hidden;
  background-image: url("képek/back-ground.png");
  background-size: cover;
  background-repeat: repeat;
}

.enemy {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("képek/enemy.png");
  background-repeat: no-repeat;
}

#player {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url("képek/player.png");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}
